name: planpro
description: PlanPro - Kişisel haftalık planlayıcı ve AI asistan örnek projesi.
publish_to: 'none'
version: 0.0.1

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

flutter:
  uses-material-design: true
